/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 1.33em 2em 2em;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3.34em);
}

#main {
  font-family: inherit;
  font-size: inherit;
  background-color: white;
  border-color: #aaa;
  border-radius: 3px;
  padding: 15px;
  flex: 1;
  resize: none;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
