<div
  id="modal-container"
  class="fixed pin"
>
  <div
    onclick={{this.close}}
    id="modal-backdrop"
    class="absolute pin bg-blue-darker opacity-50"
  ></div>
  <div
    class="absolute-centered overflow-auto bg-white rounded w-modal max-h-modal"
    style="max-width: 100vw; max-height: 85vh;"
    ...attributes
  >
    {{yield}}
  </div>
</div>

<Hotkeys
  @priority={{10}}
  @handlers={{this.hotkeys}}
/>
