<div ...attributes>
  <LinkTo @route="new">
    <div class="text-center my-4">
      <button class="bg-blue hover:bg-blue-dark text-white py-2 px-4 rounded mx-auto">
        New page
      </button>
    </div>
  </LinkTo>

  <p class="mb-4">
    <LinkTo @route="home">Home (tutorial)</LinkTo>
  </p>

  <h2>Pages</h2>
  <ul class="mt-4 mb-12">
    {{#each (subscribe this.graph.pages) key="uuid" as |page|}}
      <li>
        <LinkTo
          @route="page"
          @model={{page.uuid}}
          style="white-space: pre-wrap;"
        >
          {{~or (get (subscribe page.title) "value") "<untitled>"~}}
        </LinkTo>
      </li>
    {{else}}
      <p class="text-grey-darker">&lt;none&gt;</p>
    {{/each}}
  </ul>
</div>
