<div class="m-4" style="white-space: pre-wrap;">

{{~!~}}
This is my offline-first, realtime-collaborative wiki prototype. It's built with CRDTs as described in the lovely article <a href="http://archagon.net/blog/2018/03/24/data-laced-with-history/">Data Laced with History: Causal Trees & Operational CRDTs</a>. It's not well documented, but the code is available <a href="https://github.com/courajs/referent">on GitHub</a>.

The wiki is just a list of pages, and top-level links between those pages. (The links are on a per-page basis, not inline in the text)
Each page has a title and a body.
Links are directional - they go out from one page, and into another.

If you're online, then you should see others' edits appear in real time - but it will also cleanly merge offline concurrent edits. It's multi-tab friendly - even if you're offline, your changes will be reflected across tabs.

Feel free to <LinkTo @route="page" @model="0.6440600485153631">sign the guestbook</LinkTo> or to <LinkTo @route="page" @model="0.6118800232264008">leave any feedback</LinkTo>.

Keyboard shortcuts
ctrl-m     -   add new page
cmd+k   -   jump to page
cmd+]    -   follow outgoing link
cmd+[    -   follow incoming link
cmd+&gt;   -   add outgoing link
cmd+&lt;   -   add incoming link

typeahead controls:
you can type to filter down the list
hover over an option  -    select an option
click an option           -     confirm that option
cmd+j or ctrl+j or down arrow   -    select next option
cmd+k or ctrl+k or up arrow      -     select previous option
enter                          -     confirm selected option
escape                      -     close typeahead and cancel action
click outside of box   -     close typeahead and cancel action

while adding links, you can also type a page title and choose the "Create" option to make the page with that title, link to it, and navigate to it.
</div>
